<component name="libraryTable">
  <library name="SpringMVC">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/day07_SpringMVC_Rest&amp;Request/web/WEB-INF/lib/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/day07_SpringMVC_Rest&amp;Request/web/WEB-INF/lib/spring-expression-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/day07_SpringMVC_Rest&amp;Request/web/WEB-INF/lib/spring-webmvc-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/day07_SpringMVC_Rest&amp;Request/web/WEB-INF/lib/spring-web-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/day07_SpringMVC_Rest&amp;Request/web/WEB-INF/lib/spring-context-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/day07_SpringMVC_Rest&amp;Request/web/WEB-INF/lib/spring-beans-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/day07_SpringMVC_Rest&amp;Request/web/WEB-INF/lib/spring-aop-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/day07_SpringMVC_Rest&amp;Request/web/WEB-INF/lib/spring-core-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/day09_SpringMVC_RestCRUD/web/WEB-INF/lib/hibernate-validator-annotation-processor-5.0.0.CR2.jar!/" />
      <root url="jar://$PROJECT_DIR$/day09_SpringMVC_RestCRUD/web/WEB-INF/lib/hibernate-validator-5.0.0.CR2.jar!/" />
      <root url="jar://$PROJECT_DIR$/day09_SpringMVC_RestCRUD/web/WEB-INF/lib/taglibs-standard-impl-1.2.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/day09_SpringMVC_RestCRUD/web/WEB-INF/lib/taglibs-standard-spec-1.2.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/day09_SpringMVC_RestCRUD/web/WEB-INF/lib/classmate-0.8.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/day09_SpringMVC_RestCRUD/web/WEB-INF/lib/jboss-logging-3.1.1.GA.jar!/" />
      <root url="jar://$PROJECT_DIR$/day09_SpringMVC_RestCRUD/web/WEB-INF/lib/validation-api-1.1.0.CR1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>